/* Figma Styles of your File */
:root {
  /* Colors */
  --athens-gray: #f9fafb;
  --athens-gray: #f3f4f6;
  --athens-gray: #e5e7eb;
  --beeswax: #fef9c3;
  --ebony: #111827;
  --ebony-clay: #1f2937;
  --gray-chateau: #9ca3af;
  --candlelight: #facc15;
  --pale-sky: #6b7280;
  --oxford-blue: #374151;
  --river-bed: #4b5563;
  --royal-blue: #4b4ef9;
  --royal-blue: #3a3ee1;
  --hugglframerwebsite-black: #000000;
  --hugglframerwebsite-dove-gray: #666666;
  --hugglframerwebsite-mine-shaft: #222222;
  --hugglframerwebsite-rose: #ff0088;
  --hugglframerwebsite-thunder: #222222;
  --hugglframerwebsite-white: transparent;
  --hugglframerwebsite-white: #ffffff;
  --hugglframerwebsite-white-white: linear-gradient(to left, #ffffff, #ffffff),
    linear-gradient(to left, #ffffff, #ffffff);

  /* Fonts */
  --hugglframerwebsite-semantic-link-font-family: Baloo2-ExtraBold, sans-serif;
  --hugglframerwebsite-semantic-link-font-size: 20px;
  --hugglframerwebsite-semantic-link-line-height: 24px;
  --hugglframerwebsite-semantic-link-font-weight: 800;
  --hugglframerwebsite-semantic-link-font-style: normal;
  --hugglframerwebsite-semantic-link-font-family: Inter-Medium, sans-serif;
  --hugglframerwebsite-semantic-link-font-size: 14px;
  --hugglframerwebsite-semantic-link-line-height: 16.8px;
  --hugglframerwebsite-semantic-link-font-weight: 500;
  --hugglframerwebsite-semantic-link-font-style: normal;
  --hugglframerwebsite-semantic-link-font-family: Inter-Regular, sans-serif;
  --hugglframerwebsite-semantic-link-font-size: 14px;
  --hugglframerwebsite-semantic-link-line-height: 22.4px;
  --hugglframerwebsite-semantic-link-font-weight: 400;
  --hugglframerwebsite-semantic-link-font-style: normal;
  --hugglframerwebsite-semantic-link-font-family: Inter-SemiBold, sans-serif;
  --hugglframerwebsite-semantic-link-font-size: 14px;
  --hugglframerwebsite-semantic-link-line-height: 16.8px;
  --hugglframerwebsite-semantic-link-font-weight: 600;
  --hugglframerwebsite-semantic-link-font-style: normal;
  --hugglframerwebsite-semantic-link-font-family: Inter-SemiBold, sans-serif;
  --hugglframerwebsite-semantic-link-font-size: 14px;
  --hugglframerwebsite-semantic-link-line-height: 22.4px;
  --hugglframerwebsite-semantic-link-font-weight: 600;
  --hugglframerwebsite-semantic-link-font-style: normal;
  --hugglframerwebsite-semantic-link-font-family: Inter-SemiBold, sans-serif;
  --hugglframerwebsite-semantic-link-font-size: 18.021780014038086px;
  --hugglframerwebsite-semantic-link-line-height: 25.2px;
  --hugglframerwebsite-semantic-link-font-weight: 600;
  --hugglframerwebsite-semantic-link-font-style: normal;
  --hugglframerwebsite-inter-regular-font-family: Inter-Regular, sans-serif;
  --hugglframerwebsite-inter-regular-font-size: 14px;
  --hugglframerwebsite-inter-regular-line-height: 22.4px;
  --hugglframerwebsite-inter-regular-font-weight: 400;
  --hugglframerwebsite-inter-regular-font-style: normal;
  --hugglframerwebsite-inter-regular-font-family: Inter-Regular, sans-serif;
  --hugglframerwebsite-inter-regular-font-size: 50.322959899902344px;
  --hugglframerwebsite-inter-regular-line-height: 43.2px;
  --hugglframerwebsite-inter-regular-font-weight: 400;
  --hugglframerwebsite-inter-regular-font-style: normal;
  --hugglframerwebsite-inter-medium-font-family: Inter-Medium, sans-serif;
  --hugglframerwebsite-inter-medium-font-size: 14px;
  --hugglframerwebsite-inter-medium-line-height: 22.4px;
  --hugglframerwebsite-inter-medium-font-weight: 500;
  --hugglframerwebsite-inter-medium-font-style: normal;
  --poppins-bold-font-family: Poppins-Bold, sans-serif;
  --poppins-bold-font-size: 18px;
  --poppins-bold-line-height: 28px;
  --poppins-bold-font-weight: 700;
  --poppins-bold-font-style: normal;
  --poppins-bold-font-family: Poppins-Bold, sans-serif;
  --poppins-bold-font-size: 18.899999618530273px;
  --poppins-bold-line-height: 28px;
  --poppins-bold-font-weight: 700;
  --poppins-bold-font-style: normal;
  --poppins-bold-font-family: Poppins-Bold, sans-serif;
  --poppins-bold-font-size: 30px;
  --poppins-bold-line-height: 36px;
  --poppins-bold-font-weight: 700;
  --poppins-bold-font-style: normal;
  --poppins-bold-font-family: Poppins-Bold, sans-serif;
  --poppins-bold-font-size: 30.600000381469727px;
  --poppins-bold-line-height: 36px;
  --poppins-bold-font-weight: 700;
  --poppins-bold-font-style: normal;
  --poppins-italic-font-family: Poppins-Italic, sans-serif;
  --poppins-italic-font-size: 14px;
  --poppins-italic-line-height: 20px;
  --poppins-italic-font-weight: 400;
  --poppins-italic-font-style: italic;
  --poppins-italic-font-family: Poppins-Italic, sans-serif;
  --poppins-italic-font-size: 14.279999732971191px;
  --poppins-italic-line-height: 20px;
  --poppins-italic-font-weight: 400;
  --poppins-italic-font-style: italic;
  --poppins-regular-font-family: Poppins-Regular, sans-serif;
  --poppins-regular-font-size: 14px;
  --poppins-regular-line-height: 20px;
  --poppins-regular-font-weight: 400;
  --poppins-regular-font-style: normal;
  --poppins-regular-font-family: Poppins-Regular, sans-serif;
  --poppins-regular-font-size: 14.279999732971191px;
  --poppins-regular-line-height: 20px;
  --poppins-regular-font-weight: 400;
  --poppins-regular-font-style: normal;
  --poppins-regular-font-family: Poppins-Regular, sans-serif;
  --poppins-regular-font-size: 14.699999809265137px;
  --poppins-regular-line-height: 20px;
  --poppins-regular-font-weight: 400;
  --poppins-regular-font-style: normal;
  --poppins-regular-font-family: Poppins-Regular, sans-serif;
  --poppins-regular-font-size: 16px;
  --poppins-regular-line-height: 24px;
  --poppins-regular-font-weight: 400;
  --poppins-regular-font-style: normal;
  --poppins-regular-font-family: Poppins-Regular, sans-serif;
  --poppins-regular-font-size: 16px;
  --poppins-regular-line-height: 26px;
  --poppins-regular-font-weight: 400;
  --poppins-regular-font-style: normal;
  --poppins-regular-font-family: Poppins-Regular, sans-serif;
  --poppins-regular-font-size: 16.31999969482422px;
  --poppins-regular-line-height: 26px;
  --poppins-regular-font-weight: 400;
  --poppins-regular-font-style: normal;
  --poppins-regular-font-family: Poppins-Regular, sans-serif;
  --poppins-regular-font-size: 16.799999237060547px;
  --poppins-regular-line-height: 24px;
  --poppins-regular-font-weight: 400;
  --poppins-regular-font-style: normal;
  --poppins-regular-font-family: Poppins-Regular, sans-serif;
  --poppins-regular-font-size: 18px;
  --poppins-regular-line-height: 28px;
  --poppins-regular-font-weight: 400;
  --poppins-regular-font-style: normal;
  --poppins-semibold-font-family: Poppins-SemiBold, sans-serif;
  --poppins-semibold-font-size: 16px;
  --poppins-semibold-line-height: 24px;
  --poppins-semibold-font-weight: 600;
  --poppins-semibold-font-style: normal;
  --poppins-semibold-font-family: Poppins-SemiBold, sans-serif;
  --poppins-semibold-font-size: 16.31999969482422px;
  --poppins-semibold-line-height: 24px;
  --poppins-semibold-font-weight: 600;
  --poppins-semibold-font-style: normal;
  --poppins-semibold-font-family: Poppins-SemiBold, sans-serif;
  --poppins-semibold-font-size: 18px;
  --poppins-semibold-line-height: 28px;
  --poppins-semibold-font-weight: 600;
  --poppins-semibold-font-style: normal;
  --poppins-semibold-font-family: Poppins-SemiBold, sans-serif;
  --poppins-semibold-font-size: 18.360000610351562px;
  --poppins-semibold-line-height: 28px;
  --poppins-semibold-font-weight: 600;
  --poppins-semibold-font-style: normal;
  --semantic-heading-1-font-family: Poppins-Bold, sans-serif;
  --semantic-heading-1-font-size: 48px;
  --semantic-heading-1-line-height: 48px;
  --semantic-heading-1-font-weight: 700;
  --semantic-heading-1-font-style: normal;
  --semantic-heading-4-font-family: Poppins-Bold, sans-serif;
  --semantic-heading-4-font-size: 14px;
  --semantic-heading-4-line-height: 20px;
  --semantic-heading-4-font-weight: 700;
  --semantic-heading-4-font-style: normal;
  --semantic-input-font-family: Poppins-Regular, sans-serif;
  --semantic-input-font-size: 14px;
  --semantic-input-line-height: normal;
  --semantic-input-font-weight: 400;
  --semantic-input-font-style: normal;
  --semantic-label-font-family: Poppins-SemiBold, sans-serif;
  --semantic-label-font-size: 14px;
  --semantic-label-line-height: 20px;
  --semantic-label-font-weight: 600;
  --semantic-label-font-style: normal;

  /* Effects */
}
/* Figma Color Variables of your File */
[data-hugglframerwebsite-mode="mode-1"] {
  /* mode-1 */
  --color-white-solid: #ffffff;
  --color-black-solid: #000000;
  --color-rose-50: #ff0088;
  --color-grey-13: #222222;
  --color-grey-40: #666666;
  --color-grey-95: #ffe5fb;
  --color-cyan-40: #00ccc5;
  --color-azure-45: #0073e6;
  --color-orange-50: #ff7300;
}

[data-htmltodesign-mode="mode-1"] {
  /* mode-1 */
  --color-black-solid: #000000;
  --color-white-solid: #ffffff;
  --color-yellow-53: #facc15;
  --color-blue-64: #4b4ef9;
  --color-azure-27: #374151;
  --color-azure-34: #4b5563;
  --color-azure-17: #1f2937;
  --color-grey-46: #6b7280;
  --color-yellow-88: #fef9c3;
  --color-blue-55: #3a3ee1;
  --color-grey-98: #f9fafb;
  --color-grey-96: #f3f4f6;
  --color-grey-91: #e5e7eb;
  --color-azure-65: #9ca3af;
}
